terraform.tfvars
.terraform.lock.hcl
.terraform
.env
.DS_Store

.terraform/


*.tfstate
*.tfstate.backup
terraform.tfstate.1764782317.backup

crash.log
crash.*.log


*.tfvars
*.tfvars.json


override.tf
override.tf.json
*_override.tf
*_override.tf.json


*.tfplan


*.terraformrc
terraform.rc



/volume/


.aws/
*.pem
*.key
!example.tfvars
EOF
