name: Elsa's Terraform Quality Checker

description: on push to main branch, format, validate and lint Terraform changes

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
   validate:
    name: Validate and Lint Terraform
    runs-on: ubuntu-latest

    steps:
           - name: checkout code
             uses: actions/checkout@v4

           - name: Download Terraform CLI
             uses: hashicorp/setup-terraform@v3
             with:
              terraform_version: 1.8.4


           - name: Configure AWS Credetias
             uses: aws-actions/configure-aws-credentials@v4
             with:
              aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
              aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              aws-region: eu-west-2


           - name: Terraform Init
             run: terraform init

           - name: Terraform Format
             run: terraform fmt -check -recursive

           - name: Terraform Validate
             run: terraform validate

           - name: Setup TFLint
             uses: terraform-linters/setup-tflint@v4
             with:
              tflint_version: latest

           - name: Run TFLint
             run: tflint --recursive --format=compact
